html,
body
{
    height: 100%;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Source Sans Pro', sans-serif;

    display: flex;
    flex-direction: column;

    text-align: center;

    align-items: center;
    justify-content: center;
}

.avatar
{
    width: 200px;
    height: 200px;

    border-radius: 999px;
    background: url('http://gravatar.com/avatar/0204ebeed9ce42c56611aa452482d4ed?s=200.jpg');
    background-size: cover;
}

h1
{
    font-size: 50px;
    font-weight: 300;
    line-height: 1em;

    margin: 10px 0 0 0;

    letter-spacing: -.02em;
}

h2
{
    font-size: 20px;
    font-weight: 400;
    line-height: 1em;

    margin: 10px 0 25px;
}

a:link,
a:visited
{
    font-weight: 600;

    margin: 0 10px;
    padding-bottom: 4px;

    text-decoration: none;
    text-transform: uppercase;

    color: #0af;
}

a:hover
{
    border-bottom: 2px solid;
}
